{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    <div class="container-fluid container-md card shadow p-3 mt-3">
        <div class="d-flex justify-content-center">
            <h1>{{ participant.nom }}</h1>
        </div>

        <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> <img src="../media/{{ participant.image }}" alt="photo de profil"></td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Administrateur</th>
                <td>{{ participant.administrateur ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
        <div class="d-flex justify-content-center p-1">
            <a href="{{ path('app_participant_index') }}"><button class="btn btn-primary">Liste des participants</button></a>
        </div>
        {% if app.user is defined and app.user.id == participant.id %}
        <div class="d-flex justify-content-center p-1">
            <a href="{{ path('app_participant_edit', {'id': participant.id}) }}"><button class="btn btn-warning">Modifier</button></a>

        </div>
            {{ include('participant/_delete_form.html.twig') }}
        {% endif %}
</div>

<div class="container-fluid container-md card shadow p-3 mt-3">
    <div class="d-flex justify-content-center">
        <h1>Liste des sorties organisées par {{ participant.nom }}</h1>
    </div>
    {% include 'sortie/_tableau_sorties.html.twig' %}
</div>

<div class="container-md card shadow p-3 mt-3">
    <h1>Liste des sorties auxquelles {{ participant.nom }} participe</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for sortie in sortiesInscrit %}
        <tr>
            <td>{{ sortie.nomSortie }}</td>
            <td>
                <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher la sortie</a>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
