{% extends 'base.html.twig' %}

{% block title %}Sortie "{{ sortie.nomSortie }}"{% endblock %}

{% block body %}
<div class="container-fluid container-md card shadow p-3 mt-3">
    <h1 class="d-flex justify-content-center">{{ sortie.nomSortie }}</h1>
    <div class="d-flex justify-content-center">
        <img class=" m-3 shadow" src="https://picsum.photos/300/200" alt="Random Placeholder picture" width="300">
    </div>
        <div class="row">
            <div class="col-6">

                <table class="table table-bordered table-striped table-hover">
                    <tbody>

                    {% if is_granted("ROLE_ADMIN") %}
                        <tr>
                            <th>Id</th>
                            <td>{{ sortie.id }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Nom de la sortie </th>
                        <td>{{ sortie.nomSortie }}</td>
                    </tr>
                    <tr>
                        <th>Date et heure de la sortie</th>
                        <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                    </tr>

                    <tr>
                        <th>Date Limite d'Inscription</th>
                        <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de places</th>
                        <td>{{ sortie.nbInscrits }}/{{ sortie.nbInscriptionsMax }}</td>
                    </tr>

                    <tr>
                        <th>Duree</th>
                        <td>{{ sortie.duree }} minutes</td>
                    </tr>


                    <tr>
                        <th>Descriptions et infos</th>
                        <td>{{ sortie.infosSortie }}</td>
                    </tr>
                    <tr>
                        <th>Organisateur :</th>
                        <td><a href="{{ path('app_participant_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }} </a></td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{{ sortie.etat }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Campus</th>
                        <td>{{ sortie.campus.nom }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ sortie.lieu.nom }}</td>
                    </tr>
                    <tr>
                        <th>Rue</th>
                        <td>{{ sortie.lieu.rue }}</td>
                    </tr>
                    <tr>
                        <th>Code Postal</th>
                        <td>{{ sortie.lieu.ville.codePostal }}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td>{{ sortie.lieu.latitude }}</td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td>{{ sortie.lieu.longitude }}</td>
                    </tr>
                    </tbody>
                </table>
                IDEE TODO : Rajouter un lien vers google maps
            </div>
        </div>

    <div class="d-flex justify-content-center p-3">
        <a href="{{ path('sortir_main') }}">
        <button class="btn btn-success m-2">Retour à l'accueil</button>
        </a>
        {% if is_granted("ROLE_USER") %}
            {% set isParticipantInscrit = sortie.inscrit.contains(app.user) %}
                {% if isParticipantInscrit %}
                    <a href="{{ path('app_sortie_desinscription', {'id': sortie.id}) }}">
                    <button class="btn btn-warning m-2">Vous desinscrire</button>
                    </a>
                {% else %}
                    <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">
                    <button class="btn btn-success m-2">Vous inscrire</button> </a>
                {% endif %}
        {% endif %}

        {% if app.user == sortie.organisateur or is_granted('ROLE_ADMIN')%}
            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
            <button class="btn btn-primary m-2">Modifier la sortie</button>
            </a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {{ include('sortie/_delete_form.html.twig') }}
        {% endif %}
    </div>

</div>

    <br>
    <div class="container-fluid container-sm card col-5 shadow">
        <h3>Liste des participants inscrits</h3>
        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            {% for participant in participants %}
            <tr>
                <td>{{ participant.email }}</td>
                <td><a href="{{ path('app_participant_show', {'id': participant.id }) }}">{{ participant.nom }} </a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
